<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <title>
            Sistema de Gerenciamento
        </title>
        <link href="https://fonts.googleapis.com/css?family=ABeeZee&display=swap" rel="stylesheet">
        <link rel="stylesheet" href = "/estilo.css">
    </head>
    <body>
        <header>
            <h1 id = 'titulo'><a href=""> Sistema de Gerenciamento </a></h1>
            <div class ="links">
                <a href="/vendedores">Vendedores</a>
                <a href="/clientes">Clientes</a>
            </div>
        </header>

        {% block content %}
        {% endblock content %}
    </body>
    <footer class="rodape"></footer> 
</html>